.grid__item2 {
  background-color: #fff;
  color: #ffffff;
  font-size: 1rem;

  

  text-align: left;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.grid__item2 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.grid__item2:before,
.grid__item2:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: rgba(68, 102, 196, 0.711);
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.grid__item2:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}

.grid__item2:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}

.grid__item2 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px;
}

.grid__item2 figcaption:before,
.grid__item2 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(68, 102, 196, 0.711);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.grid__item2 figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}

.grid__item2 figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}

.grid__item2 h3,
.grid__item2 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.grid__item2 h3 {
  font-family: 'Teko', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.grid__item2 p {
  font-size: 0.9em;
}



.grid__item2:hover h3,
.grid__item2.hover h3,
.grid__item2:hover p,
.grid__item2.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.grid__item2:hover:before,
.grid__item2.hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.grid__item2:hover:after,
.grid__item2.hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}

.grid__item2:hover figcaption:before,
.grid__item2.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.grid__item2:hover figcaption:after,
.grid__item2.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}